body {
    font-family: Arial, sans-serif;
    background-color: #FFF8DC;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
}

h1 {
    text-align: center;
    color: #d181dc;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #d181dc;
}

input[type="text"], input[type="password"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #d181dc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #d181dc;
    color: #333;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #d181dc;
}
